<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Posts</title>

</head>
<body >
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;"> 
        <p><strong>Name:</strong> <%= data.name %></p>
        <p><strong>Date:</strong> <%= data.createdAt.toLocaleString() %></p>
        <p><strong>Message:</strong> <%= data.message %></p>

    </div>




    </body>
</html>
