<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="creatarticle">

        <h1>new article</h1>
        <form action="/creat-article" method="post" >
            <p>new article</p>
            <input type="text" placeholder="title" name="title">
            <input type="text" placeholder="your article" name="article">
            <button >add article </button>
        </form>
    

    </div>
</body>
</html>