<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Post</title>
</head>
<body>
    <% if (use) { %>
  
        <p style="color: #FC7D7D;"><strong><%= use.name %></strong> - <%= use.createdAt %></p>
        <p><%= use.message %></p>
    <% } else { %>
  
        <p>No posts found for this user.</p>
    <% } %>
</body>
</html>
